@model LoginRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Superio | Just another HTML Template | Login</title>

    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Info Section -->
        <div class="login-section">
            <div class="image-layer" style="background-image: url(/images/background/12.jpg);"></div>
            <div class="outer-box">
                <!-- Login Form -->
                <div class="login-form default-form">
                    <div class="form-inner">
                        <h3>Register to Superio</h3>
                        <!--Login Form-->
                        <!-- Order Confirmation -->
                        <section class="order-confirmation">
                            <div class="auto-container">
                                <div class="upper-box">
                                    <span class="icon fa fa-check"></span>
                                    <h4>Your register is completed!</h4>
                                    <div class="text">Go to your email to verify your account.</div>
                                </div>
                            </div>
                        </section>
                        <!-- End Order Confirmation -->

                        <a class="theme-btn btn-style-one w-100" asp-controller="Account" asp-action="Login">Back To Login</a>

                    </div>
                </div>
                <!--End Login Form -->
            </div>
        </div>
        <!-- End Info Section -->


    </div><!-- End Page Wrapper -->


    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/chosen.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/jquery.modal.min.js"></script>
    <script src="~/js/mmenu.polyfills.js"></script>
    <script src="~/js/mmenu.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/ScrollMagic.min.js"></script>
    <script src="~/js/rellax.min.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>