@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_list.cshtml";
    ViewData["Controller"] = "Jobs";
    ViewData["Item"] = "Job";
    string item = (string)ViewData["Item"]!;
}

@if (store.RoleType is not null && store.RoleType == RoleType.Company)
{
    @section CreateButton {
    <a class="btn btn-primary" asp-action="PostJob"><i class="fa fa-plus me-1"></i> Add @item</a>
    }
}

@section DatatableOption {
    <script>
        DataTableOptions.ajax.url = '@Url.Action("GetJobs", "Profile")'
        DataTableOptions.columns =
            [
                {
                    'title': 'Id',
                    'data': 'id',
                    'name': 'Id',
                    'visible': false
                },
                {
                    'title': 'Job Title',
                    'data': 'title',
                    'name': 'Title',
                },
                {
                    'title': 'Job Code',
                    'data': 'jobCode',
                    'name': 'JobCode',
                },
                {
                    'title': 'Status',
                    'data': 'isActive',
                    'name': 'IsActive',
                    'render': function (data, type, JsonResultRow, meta) {
                        if (JsonResultRow.isBanned){
                            return `<div class="badge rounded-pill bg-danger">Banned</div>`
                        }
                        if(data){
                            return `<div class="badge rounded-pill bg-success">Active</div>`
                        }
                        return `<div class="badge rounded-pill bg-warning">Inactive</div>`
                    }
                },
                {
                    'title': 'Actions',
                    'data': 'id',
                    'name': 'Id',
                    'render': function (data, type, JsonResultRow, meta) {
                        var detailsButton = `<a href="@Url.Action("Details", "Jobs")/${data}" class="datatable-option"><i class="fa fa-eye fa-fw"></i></a>`
                        var banButton = `<a onclick="BanJob('${data}')" class="datatable-option text-danger"><i class="fa fa-times-circle fa-fw"></i></a>`
                        if (JsonResultRow.isBanned){
                            return `<div class="d-inline-flex">${detailsButton}</div>`;
                        }
                        return `<div class="d-inline-flex">${banButton}&nbsp;&nbsp;${detailsButton}</div>`;
                    }
                }
            ]
    </script>
}

@section Scripts {
    <script>
        function BanJob(id) {
            $.ajax({
                url: `@Url.Action("BanJob", "Jobs")?id=${id}`,
                type: "POST",
                contentType: "application/json",
                success: function (result) {
                    if (result.succeeded) {
                        Table.ajax.reload(null, false);
                    } else {
                        Swal.fire(
                            'Faild',
                            result.data,
                            'error'
                        );
                    }
                },
                error: function (x, y, z) {
                    Swal.fire(
                        'Faild',
                        result.data,
                        'error'
                    );
                }
            });
        }

    </script>
}