@model Reference

<form id="ajaxForm" class="default-form" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessUpSert" data-ajax-failure="OnFailureUpSert" asp-controller="References" asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-lg-6 col-md-12">
            <label>Name</label>
            <input type="text" asp-for="Name" required placeholder="Title">
        </div>

        <div class="form-group col-lg-6 col-md-12">
            <label>Phone</label>
            <input type="text" asp-for="Phone" required placeholder="Phone">
        </div>

        <div class="form-group col-lg-6 col-md-12">
            <label>Mobile</label>
            <input type="text" asp-for="Mobile" required placeholder="Mobile">
        </div>

        <div class="form-group col-lg-6 col-md-12">
            <label>Email</label>
            <input type="email" asp-for="Email" required placeholder="Email">
        </div>

        <div class="form-group col-lg-6 col-md-12">
            <label>Certified At</label>
            <input type="date" asp-for="ReferencedAt" required placeholder="Certified At">
        </div>
    </div>
</form>
